<!-- <p><input type="text" [(ngModel)] = "imgParent"></p>
<app-img (loaded)="onLoaded($event)"  [img]="imgParent"></app-img> -->


<!-- <app-nav></app-nav> -->
<router-outlet></router-outlet>

<!-- <app-nav></app-nav>
<p>

    <a href="./../assets/files/texto.txt" download>Descargar</a>

</p>
<p>
    <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
    <input type="file" (change)="onUpload($event)">
    <img  *ngIf="imgRta" [src]="imgRta">
</p>
<button (click)="createUser()">Create User</button>
<app-product-list></app-product-list> -->